<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Homegrown Books</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
</head>
<body>
<main class="main">
  <nav class="navbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
      <li>
        <a href="/authors">Authors</a>
      </li>
      <li>
        <a href="/publishers">Publishers</a>
      </li>
    </ul>
  </nav>
  <section id="content">

  <%= yield %>
  </section>
  </main>
</body>
</html>
