.navbar {
   background-color: rgb(104, 161, 128);
   display: inline-block;
   width: 100%;
   align: center;
}


.navbar li {
  list-style-type: none;
  font-size: 25px;
  letter-spacing: 4px;
  display: inline-block;
  background-color: rgb(130, 223, 171);
  margin-left: 100px;
  margin-right: 50px;
  padding: 8px 8px;
  border: 1px solid black; 
}

.navbar a {
  font-size: 25px;
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;

}

.navbar a:hover {
  color: grey;
}
