h1 {
  font-family: arial;
  font-size: 80px;
  color: rgb(0, 0, 0, 0.80);
}

h2 {
  font-family: arial;
  font-size: 40px;
}

.main {
  background: url('/images/william_m.jpg');
}

form {
    position:absolute;
    top:20%;
    right:0;
    left:30%;
    display: block;
}

input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  height: 100px;
  width: 300px;
  display: block;
  padding: 5px 35px 5px 5px;
  border-radius: 30px;
  background-color: rgb(130, 223, 171);
  border: 2px solid black;
  align: center; 
}

input {
  height: 30px;
  width: 300px;
  font-family: arial;
}

label {
  height: 30px;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  display: block;
  /* padding: 20px 20px 20px 20px; */
}

select {
 width: 300px;
 height: 40px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 2em;
 font-family: 'Merriweather', serif;
 border: 1px solid #eee;
 display: block;
}
