/* td, th {
  text-align: center;
  font-family: arial;
}

td {
  padding: 10px 20px 0px 0px;
} */

th {
  padding: 0px 30px 30px 0px;
  font-family: arial;
  border: none;
}

table {
  border: 2px solid black;
  font-family: arial;
  background-color: lightgrey;
  border-collapse: collapse;
}

tr:hover{
  background-color: rgb(130, 223, 171);
}

tr:first-child:hover {
  background-color: lightgrey;
}


.out-of-stock {
  background-color: rgb(250, 200, 212);
}


.low-stock {
  background-color: rgb(223, 236, 182);
}
