td, th {
  text-align: center;
  font-family: arial;

}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  font-family: arial;
}

table {
  border: 2px solid black;
  font-family: arial;
  background-color: lightgrey;
}

tr:hover{
  background-color: rgb(130, 223, 171);
}

tr:first-child:hover {
  background-color: lightgrey;
}
