<h1>Confirm Deletion</h1>

<form method="post" action="/authors/<%= @author_delete.id %>/delete">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" value="<%=@author_delete.first_name%>">
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name" value="<%=@author_delete.last_name%>">
      <input type="submit" value="Delete Author">
</form>
