<form method="post" action="/authors">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" value="">
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name" value="">
      <input type="submit" value="Update Author">
</form>
