

<form method="post" action="/publishers/<%= @publisher.id %>/delete">
  <label for="publisher-name">Publisher Name</label>
  <input type="text" name="name" id="publisher-name" value="<%=@publisher.name%>">
      <input type="submit" value="Delete Publisher">
</form>
