<nav class="navbar">
  <ul>
    <li>
      <a href="/publisher/new/">Add New Publisher</a>
    </li>
    <li>
      <a href="/publisher/delete">Delete Publisher</a>
    </li>
  </ul>
</nav>

<h1>Publishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for publisher in @publishers %>
  <tr>
    <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
  </tr>
  <% end %>
</table>
