<nav class="navbar">
  <ul>
    <li>
      <a href="/publishers/new">Add New Publisher</a>
    </li>
  </ul>
</nav>

<h2>Publishers</h2>

<table class = "publisher">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Edit</th>
    <th></th>
    <th>Delete</th>
  </tr>
  <% for publisher in @publishers %>
  <tr>
    <td><%= publisher.name %></td>
    <td>|</td>
    <td><a href="/publishers/<%= publisher.id %>">Edit</td>
    <td>|</td>
    <td><a href="/publishers/<%= publisher.id %>/delete">Delete</td>
  </tr>
  <% end %>
</table>
