<h1>Publishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for publisher in @publishers %>
  <tr onclick="location.href='/publishers/<%= publisher.id %>'"><a href="/publishers/<%= publisher.id %>"></a>
    <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
  </tr>
  <% end %>
</table>
