<form method="post" action="/publishers">
  <label for="publisher-name">Publisher Name</label>
  <input type="text" name="name" id="publisher-name" >
      <input type="submit" value="Add New Publisher">
</form>
