<form method="post" action="/publishers/<%= @publishers.id %>">
  <label for="publisher-name">Publisher Name</label>
  <input type="text" name="name" id="publisher-name" value="<%=@publishers.name%>">
      <input type="submit" value="Update Publisher">
</form>
